.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  position: fixed;
  height: 750px;
  width: 100%;
}


.hero {
  background-image: url("../assets/main.jpg");
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  height: 500px;
}

.marker-cluster-custom {
  background: #24C6DC;
  background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
  background: linear-gradient(to top, #514A9D, #24C6DC);
  border: 3px solid #ededed;
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.PropertyMap-mapContainer-206 {
  display: flex;
}

@media only screen and (max-width: 600px) {

  .PropertyMap-mapContainer-206 {
    display: flex;
    flex-direction: column;
  }
}