.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  position: fixed;
  height: 750px;
  width: 100%;
}


.hero {
  background-image: url("../assets/main.jpg");
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  height: 500px;
}

.marker-cluster-custom {
  background: #9370db;
  border: 3px solid #ededed;
  border-radius: 50%;
  color: #ededed;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}